body {
    margin: 0;
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: -20px;
    background-attachment: fixed;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1;
    margin-bottom: -20px;

}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff; /* Set your desired text color */
}

.txt-cl{
    color: #e6e5e5;
}
.coverage{
    font-size: 20px;
    color: rgb(23, 179, 9);
    font-weight: bold;
}
.carolhg{
    height: 780px;
}
.testst{
    height: 720px;
    margin-top: 12px;
    width: 50%;
    top: 10px;
    left: 50%;
}


/* media query */
@media(max-width: 1500px){
    .testst{
        height: 500px;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
        margin-bottom: 150px !important;
    }
}
@media(max-width: 900px){
    .testst{
        height: 400px;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
        margin-bottom: 150px !important;
    }
}
@media(max-width: 500px){
    .testst{
        height: 300px;
    }
}